{{#if sess.logged_in}}
  <div class="d-flex col- justify-content-around">

    <form class="">
      <div class="form-group">
        <label for="newPostTextArea">Create a new post:</label>
        <input
          type="text"
          id="newPostTitleInput"
          placeholder="Post title"
          class="form-control"
        />
      </div>
      <textarea
        id="newPostTextArea"
        name="newPostTextArea"
        rows="4"
        cols="50"
        placeholder="Post body"
        class="form-control"
      ></textarea>
      <br />
      <button id="submitPostButton" class="btn btn-primary">Submit new post</button>
    </form>
  </div>

{{/if}}

<div class="col- flex-fill">
  {{#if allPosts}}
    <div class="row">
      <h1 class="mx-3">Your posts:</h1>
    </div>
  {{/if}}

  <div class="col- justify-content-center">

    {{#each allPosts as |post|}}

      <div class="card customCard" style="width: 18rem;">
        <div class="card-body">
          <a href="/post/{{post.id}}">
            <h5 class="card-title">{{post.title}}</h5>
          </a>
          <h6 class="card-subtitle mb-2 text-muted">By:
            {{post.user.username}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">Posted:
            {{formatDate post.creation_time}}</h6>
          <p class="card-text">{{post.content}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>